.h1-upper,
.section-heading,
.body-link,
.footer-heading,
.footer-link,
.button {
  font-family: 'Emblema One', cursive;
}

.nav-link {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.body-text,
.subtitle {
  font-family: 'Catamaran', sans-serif;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Text size */
.h1-upper {
  text-transform: uppercase;
  position: relative;
  font-size: 104.6px;
  line-height: 87.3px;
}

.subtitle {
  font-size: 37.2px;
  line-height: 37.9px;
  letter-spacing: 0.3px;
}

.section-heading {
  font-size: 42px;
}

.body-link {
  font-size: 31.2px;
}

.footer-heading,
.footer-link {
  font-size: 25px;
}

.body-text {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.2px;
}

.button {
  font-size: 20px;
  line-height: 29px;
  box-shadow: none;
  padding: 15px 25px;
  border: none;
  text-transform: uppercase;
}

.nav-link,
.nav-link a {
  font-size: 18px;
  line-height: 29px;
  text-decoration: none;
}

/* Wrapper */

.wrapper {
  width: 100%;
  max-width: 1320px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

/* 
** Hero section
*/
.page-hero {
  background-color: #f5c8cf;
}

.header .burger-menu {
  display: none;
}

.header {
  background-color: #f5c8cf;
}

.header ul {
  padding: 15px 20px;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header ul li {
  margin-right: 35px;
}

.header ul li:last-child {
  margin-right: 0;
}

.header ul li a {
  color: #1f2022;
}

.page-hero-content-wrap {
  padding: 230px 20px 300px 20px;
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.page-hero-content-wrap h1 {
  color: #1d81cc;
}

.page-hero-content-wrap h2 {
  color: #1f2022;
}

.page-hero-content-wrap img {
  right: 0;
  bottom: 0;
  max-height: 85%;
}

.page-hero-content-wrap .social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  position: absolute;
  right: 30px;
  top: 140px;
}

.page-hero-content-wrap .social-wrapper button {
  width: 20px;
  height: 20px;
}

.page-hero-content-wrap .social-wrapper button {
  margin-bottom: 10px;
}

.page-hero-content-wrap .social-wrapper button:last-child {
  margin-bottom: 0;
}

/* 
** Appliances section
*/
.page-hero-appliances {
  padding: 112px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcdde2;
}

.page-hero-appliances .appliances-header h3 {
  color: #1d81cc;
  text-transform: uppercase;
  padding-bottom: 72px;
}

.page-hero-appliances .apppliances-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.page-hero-appliances .apppliances-gallery img {
  margin-right: 40px;
}

.page-hero-appliances .apppliances-gallery img:last-child {
  margin-right: 0;
}

.page-hero-appliances .appliances-description {
  display: flex;
}

.page-hero-appliances .appliances-description img {
  padding-right: 48px;
}

.page-hero-appliances .appliances-description .section-heading {
  text-transform: uppercase;
  color: #1d81cc;
}

.page-hero-appliances .appliances-description .body-text {
  color: #1f2022;
  padding: 15px 0;
}

.page-hero-appliances .appliances-description .button {
  color: #fff;
  background-color: #042259;
}

/* 
** Description section
*/
.page-description {
  /* padding: 112px 20px; */
  /* position: relative; */
  background-color: #f0f5ff;
}

.page-description .wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  max-width: 1280px;
}

.page-description .page-description-content {
  text-align: left;
}

.page-description .page-description-content h3 {
  color: #1d81cc;
  text-transform: uppercase;
  max-width: 290px;
}

.page-description .page-description-content p {
  color: #1f2022;
  padding: 18px 0;
}

.page-description .page-description-content .button {
  color: #042259;
  background-color: #f5c8cf;
}

.page-description img {
  height: 600px;
  max-width: 50%;
  object-fit: cover;
}

.page-description img.right {
  margin-left: 100px;
}

.page-description img.left {
  margin-right: 100px;
}

.page-description .page-description-content.right h3 {
  max-width: 390px;
}

/* 
** Features section
*/
.page-features {
  padding: 112px 0px;
  background-color: #fcdde2;
}

.page-features .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 225px;
  padding-right: 225px;
}

.page-features .page-features-item {
  color: #1d81cc;
  text-transform: uppercase;
  text-align: center;
}

.page-features .page-features-item i {
  color: #042259;
  font-size: 62px;
  margin-bottom: 16px;
}

/* 
** Page footer
*/

.page-footer {
  padding: 112px 0;
  background-color: #f0f5ff;
}

.page-footer .footer-heading,
.page-footer .footer-link {
  color: #1d81cc;
  text-transform: uppercase;
}

.page-footer .body-text {
  color: #1f2022;
  padding-top: 10px;
}

.page-footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer .page-footer-form {
  width: 60%;
}

.page-footer .page-footer-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}

.page-footer .page-footer-form-wrapper input {
  border: none;
  height: 49px;
  padding: 5px 30px;
  width: 100%;
  font-size: 18px;
  color: #1f2022;
  font-family: 'Barlow', sans-serif;
  outline: none;
}

.page-footer .page-footer-form-wrapper input::placeholder {
  color: #1f2022;
}

.page-footer .page-footer-form-wrapper .button {
  padding: 10px 20px;
  background-color: #f5c8cf;
  color: #042259;
}

.page-footer .page-footer-content-wrapper {
  display: flex;
  width: 38%;
  justify-content: space-between;
}

.page-footer .page-footer-contact {
  padding: 0 20px;
}

.page-footer .page-footer-contact .footer-heading {
  color: #1d81cc;
  text-transform: uppercase;
}

.page-footer .page-footer-contact .body-text {
  color: #1f2022;
  padding-top: 10px;
}

.page-footer .page-footer-links {
  padding: 0 20px;
  text-align: right;
  /* margin-bottom: -34px; */
}

.page-footer .page-footer-links .footer-link {
  text-decoration: none;
}

.page-footer .page-footer-links li {
  margin-bottom: 5px;
}

.page-footer .page-footer-links li:last-child {
  margin-bottom: 0;
}

.copyright-text {
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
  color: #fff;
  background-color: #042259;
  text-align: center;
}

/* 
** Media queries
*/

@media screen and (max-width: 480px) {
  .h1-upper {
    font-size: 50px;
    line-height: 56px;
  }
  
  .subtitle {
    font-size: 24px;
    line-height: 24.9px;
  }
  
  .section-heading {
    font-size: 32px;
  }
  
  .body-text {
    font-size: 18px;
    line-height: 26px;
  }
  
  .button {
    font-size: 18px;
    line-height: 26px;
    box-shadow: none;
  }

  /* Wrapper */

  .wrapper {
    max-width: 460px;
  }

  /* 
  ** Hero section
  */
  .header ul {
    display: none;
  }

  .header {
    min-height: 62px;
    margin-bottom: -1px;
  }

  .header-wrapper {
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 20px;
    cursor: pointer;
  }

  .header-wrapper:hover {
    width: 100%;
    height: auto;
    padding: 0;
    cursor: auto;
  }

  .header-wrapper:hover ul {
    display: block;
    background-color: #fff;
    text-align: center;
  }

  .header-wrapper:hover ul li {
    margin: 0;
    margin-bottom: 10px;
  }

  .header .burger-menu {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    padding: 0;
    padding: 5px;
    right: 20px;
    top: 20px;
    font-size: 24px;
  }

  .header .burger-menu i {
    color: #042259;
  }

  .page-hero-content-wrap {
    padding: 85px 20px 360px 20px;
    max-width: 460px;
  }

  .page-hero-content-wrap img {
    right: 0;
    bottom: 0;
    max-height: 85%;
    width: 90%;
    max-width: 360px;
  }

  .page-hero-content-wrap .social-wrapper {
    display: none;
  }

  /* 
  ** Appliances section
  */
  .page-hero-appliances {
    padding: 40px 20px 30px 20px;
  }
  
  .page-hero-appliances .appliances-header h3 {
    padding-bottom: 40px;
  }

  .page-hero-appliances .apppliances-gallery {
    margin-bottom: 50px;
    justify-content: space-between;
  }

  .page-hero-appliances .apppliances-gallery img {
    width: 47%;
    max-width: 200px;
  }

  .page-hero-appliances .apppliances-gallery img {
    margin-right: 0px;
  }

  .page-hero-appliances .apppliances-gallery img:first-child {
    margin-right: 20px;
  }

  .page-hero-appliances .apppliances-gallery img:last-child {
    display: none;
  }

  .page-hero-appliances .appliances-description {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .page-hero-appliances .appliances-description img {
    padding: 0;
    width: 100%;
    margin-bottom: 24px;
  }

  .page-hero-appliances .appliances-description .section-heading {
    text-align: center;
  }

  .page-hero-appliances .appliances-description .button {
    display: block;
    margin: 0 auto;
  }

  /* 
  ** Page description
  */
  
  .page-description .wrapper {
    flex-direction: column;
  }

  .page-description .wrapper .page-description-content {
    padding: 20px;
  }

  .page-description .wrapper .page-description-content h3 {
    text-align: center;
    max-width: 100%;
    padding: 24px 0;
  }

  .page-description .wrapper .page-description-content .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #042259;
    color: #fff;
  }

  .page-description .wrapper img {
    max-width: 100%;
    margin: 32px 0 0 0;
    height: 400px;
    order: 2;
  }

  .page-features {
    padding: 60px 20px 60px 20px;
  }

  .page-features .wrapper {
    flex-direction: column;
    padding: 0;
  }

  .page-features .page-features-item {
    margin-bottom: 40px;
  }

  .page-features .page-features-item:last-child {
    margin-bottom: 0;
  }

  .page-footer {
    padding: 60px 0;
  }

  .page-footer .wrapper {
    flex-direction: column;
  }

  .page-footer .page-footer-form {
    text-align: center;
    width: 100%;
  }

  .page-footer .page-footer-form-wrapper {
    flex-direction: column;
    padding-bottom: 32px;
  }

  .page-footer .page-footer-form-wrapper input {
    border: 1px solid #f5c8cf;
    margin-bottom: 15px;
  }

  .page-footer .page-footer-content-wrapper {
    display: flex;
    width: 100%;
  }

  .page-footer .page-footer-content-wrapper .page-footer-contact {
    padding-left: 0;
    padding-right: 10px;
  }

  .page-footer .page-footer-content-wrapper .page-footer-links {
    padding-right: 0;
    padding-left: 10px;
  }

  .page-footer .page-footer-links li {
    margin-bottom: 10px;
  }

  .page-footer .page-footer-links li:last-child {
    margin-bottom: 0;
  }
}