.is-title,
.is-section-heading,
.is-body-link,
.is-footer-heading,
.is-footer-link,
.is-button {
  font-family: 'Emblema One', cursive;
}

.is-navigation-link {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.is-body-text,
.is-subtitle {
  font-family: 'Catamaran', sans-serif;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-relative {
  position: relative;
}

.is-absolute {
  position: absolute;
}

/* Text size */
.is-title {
  font-size: 104.6px;
  line-height: 87.3px;
}

.is-subtitle {
  font-size: 37.2px;
  line-height: 37.9px;
  letter-spacing: 0.3px;
}

.is-section-heading {
  font-size: 42px;
}

.is-body-link {
  font-size: 31.2px;
}

.is-footer-heading,
.is-footer-link {
  font-size: 25px;
}

.is-body-text {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.2px;
}

.is-button {
  font-size: 20px;
  line-height: 29px;
  box-shadow: none;
  padding: 15px 25px;
  border: none;
  text-transform: uppercase;
}

.is-navigation-link,
.is-navigation-link a {
  font-size: 18px;
  line-height: 29px;
  text-decoration: none;
}

/* Wrapper */

.is-wrapper {
  width: 100%;
  max-width: 1320px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

/* 
** Hero section
*/
.page-hero {
  background-color: var(--pale-rose);
}

.page-hero header ul {
  padding: 15px 20px;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-hero header ul li:not(:last-of-type) {
  margin-right: 35px;
}

.page-hero header ul li a {
  color: var(--darker-grey);
}

.page-hero-content {
  padding: 230px 20px 300px 20px;
}

.page-hero-content h1 {
  color: var(--water-blue);
}

.page-hero-content h2 {
  color: var(--darker-grey);
}

.page-hero-content img {
  right: 0;
  bottom: 0;
  max-height: 85%;
}

.page-hero-content .social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  position: absolute;
  right: 30px;
  top: 140px;
}

.page-hero-content .social-wrapper button {
  width: 20px;
  height: 20px;
}

.page-hero-content .social-wrapper button:not(:last-of-type) {
  margin-bottom: 10px;
}

/* 
** Appliances section
*/
.page-hero-appliances {
  padding: 112px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-pink);
}

.page-hero-appliances header h3 {
  color: var(--water-blue);
  text-transform: uppercase;
  padding-bottom: 72px;
}

.page-hero-appliances .apppliances-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.page-hero-appliances .apppliances-gallery img:not(:last-of-type) {
  margin-right: 40px;
}

.page-hero-appliances .appliances-description {
  display: flex;
}

.page-hero-appliances .appliances-description img {
  padding-right: 48px;
}

.page-hero-appliances .appliances-description .is-section-heading {
  text-transform: uppercase;
  color: var(--water-blue);
}

.page-hero-appliances .appliances-description .is-body-text {
  color: var(--darker-grey);
  padding: 15px 0;
}

.page-hero-appliances .appliances-description .is-button {
  color: #fff;
  background-color: var(--marine);
}

/* 
** Description section
*/
.page-description {
  /* padding: 112px 20px; */
  /* position: relative; */
  background-color: var(--pale-grey);
}

.page-description .is-wrapper {
  display: flex;
  align-items: center;
}

.page-description .page-description-content {
  text-align: left;
}

.page-description .page-description-content h3 {
  color: var(--water-blue);
  text-transform: uppercase;
  max-width: 290px;
}

.page-description .page-description-content p {
  color: var(--darker-grey);
  padding: 18px 0;
}

.page-description .page-description-content .is-button {
  color: var(--marine);
  background-color: var(--pale-rose);
}

.page-description img {
  height: 600px;
  max-width: 50%;
  object-fit: cover;
}

.page-description img.is-right {
  margin-left: 100px;
}

.page-description img.is-left {
  margin-right: 100px;
}

.page-description .page-description-content.is-right h3 {
  max-width: 390px;
}